body{
    background-image: url("http://www.hetrozehuis.be/sites/default/files/image/fotos_vaste_paginas/under_construction.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size:auto;
}